

<span (click)="onStarClick()" [ngClass]="{'filled': isFilled}">&#9733;</span>
    
<div *ngIf="cargaDocumentosMostrada">
  <div style="clear: both;"></div> 

  <div class="input-group mb-3">
    <div class="input-group-prepend">
    </div>
    <div class="custom-file">
      <app-cargar-archivo class="custom-file-input" id="inputGroupFile01" (archivoCargado)="onArchivoCargado($event)"></app-cargar-archivo>
    </div>
  </div>
  <button (click)="enviarCalificacion()">Enviar</button>
</div>





    
