.titulo {
    font-size: 32px;
    margin-bottom: 10px;
    text-align: center;
}

.subtitulo {
    font-size: 24px;
    margin-bottom: 20px;
    color: #888;
    text-align: center;
}

.contenedor-estrellas {
    text-align: center;
    margin: auto;
    background-color: white;
    padding: 20%;
}

.envio-exitoso {
    color: #4CAF50;
    /* Verde */
    margin-top: 10px;
    text-align: center;
}