<table class="content-table styled-table">
    <thead>
        <tr>
            <th>Fecha Ingreso</th>
            <th>Nombre</th>
            <th>Placa</th>
            <th>Tipo de Servicio</th>
            <th>Correo Electrónico</th>
            <th>Total a pagar</th>
            <th>Proceso terminado</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>12/12/2023</td>
            <td>Sara</td>
            <td>AA123</td>
            <td>Lavado completo</td>
            <td>Sara@sara.com</td>
            <td>$25,00</td>
            <td><input type="checkbox" name="1" id="1"></td>
        </tr>
    </tbody>
</table>