<table>
    <thead>
        <tr>
            <th>Fecha Ingreso</th>
            <th>Nombre</th>
            <th>Placa</th>
            <th>Tipo de Servicio</th>
            <th>Correo Electrónico</th>
            <th>Total a pagar</th>
            <th>Proceso terminado</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
    </tbody>
</table>