.top-section {
  @media only screen and (max-width: 900px) {
    width: 900px;
  }
  @media only screen and (max-width: 700px) {
    width: 780px;
  }
  @media only screen and (max-width: 500px) {
    width: 500px;
  }
}

.middle-section {
  display: flex;
  justify-content: space-between;

  @media only screen and (max-width: 1200px) {
    width: 900px;
  }
  @media only screen and (max-width: 800px) {
    width: 600px;
  }
  .widget {
    height: 350px;
    background-color: #fff;
    border-radius: 5px;
    margin: 10px;
    box-shadow: 5px 5px 5px #939393;
    &.left {
      width: 550px;
      @media only screen and (max-width: 1400px) {
        width: 450px;
      }
      @media only screen and (max-width: 1200px) {
        width: 350px;
      }
    }
    &.right {
      width: 450px;
    }
  }
}

.bottom-section {
  display: flex;
  justify-content: space-between;
  .widget {
    height: 100%;
    width: 100%;
    background-color: #fff;
    border-radius: 5px;
    margin: 10px;
    box-shadow: 5px 5px 5px #939393;
    &.left {
      width: 670px;
      @media only screen and (max-width: 900px) {
        width: 570px;
      }
    }
    &.right {
      width: 600px;
      @media only screen and (max-width: 900px) {
        width: 300px;
      }
      @media only screen and (max-width: 700px) {
        width: 300px;
      }
    }
  }
}
