
<form >

    <div>Mecánia "El Pelado Samuel"</div>
    <p>
        Nombre del cliente: <br>
        <input type="text" formControlName="name">
    </p>


    <p>
        cedula: <br>
        <input type="text" formControlName="dni">
    </p>


    <p>
        Dirección: <br>
        <input type="text" formControlName="direccion">
    </p>



    <p>
        Email: <br>
        <input type="email" formControlName="email">
    </p>


    <p>
        Marca de Vehículo: <br>
        <input type="text" formControlName="marca">
    </p>



    <p>
        Modelo de Vehículo: <br>
        <input type="text" formControlName="modelo">
    </p>




    <p>
        Fecha de ingreso de vehículo: <br>
        <input type="date" formControlName="date">
    </p>



    <p>
        Hora de ingreso: <br>
        <input type="time" formControlName="horaIngreso">
    </p>
    

    
    <p>
        Hora de salida: <br>
        <input type="time" formControlName="horaSalida">
    </p>
    


    <p>
        Empleado a cargo: <br>
        <select formControlName="mecaninco">
            <option value="1">Joan Olalla</option>
            <option value="2">Raymond Zambrano</option>
            <option value="3">Jhon Davila</option>
            <option value="4">Vinicio Ledesma</option>
            <option value="5">Samuel Borja</option>
            <option value="6">Jhanira Macas</option>
        </select>
    </p>


    <p>
        Tipo de lavado: <br>
        <select formControlName="tip_lavado">
            <option value="1">Regular</option>
            <option value="2">Normal</option>
            <option value="3">Premium</option>
        </select>
    </p>

    


    <button type="submit">Guardar</button>

</form>