
<form [formGroup]="form" (ngSubmit)="save($event)">

    <div>Mecánia "El Pelado Samuel"</div>
    <p>
        Nombre del cliente: <br>
        <input type="text" formControlName="name">
    </p>

    <div *ngIf="form.get('name')?.errors && form.get('name')?.touched">
        <small *ngIf="form.get('name')?.hasError('required')">
            Es un campo requerido
        </small>
    </div>

    <p>
        cedula: <br>
        <input type="text" formControlName="dni">
    </p>

    <div *ngIf="form.get('dni')?.errors && form.get('dni')?.touched">
        <small *ngIf="form.get('dni')?.hasError('required')">
            Es un campo requerido
        </small>
    </div>

    <p>
        Dirección: <br>
        <input type="text" formControlName="direccion">
    </p>

    <div *ngIf="form.get('direccion')?.errors && form.get('direccion')?.touched">
        <small *ngIf="form.get('direccion')?.hasError('required')">
            Es un campo requerido
        </small>
    </div>

    <p>
        Email: <br>
        <input type="email" formControlName="email">
    </p>

    <div *ngIf="form.get('email')?.errors && form.get('email')?.touched">
        <small *ngIf="form.get('email')?.hasError('required')">
            Es un campo requerido
        </small>
        <small *ngIf="form.get('email')?.hasError('email')">
            Ingrese una dirección de correo electrónico válida
        </small>
    </div>
    

    <p>
        Marca de Vehículo: <br>
        <input type="text" formControlName="marca">
    </p>

    <div *ngIf="form.get('marca')?.errors && form.get('marca')?.touched">
        <small *ngIf="form.get('marca')?.hasError('required')">
            Es un campo requerido
        </small>
    </div>

    <p>
        Modelo de Vehículo: <br>
        <input type="text" formControlName="modelo">
    </p>

    <div *ngIf="form.get('modelo')?.errors && form.get('modelo')?.touched">
        <small *ngIf="form.get('modelo')?.hasError('required')">
            Es un campo requerido
        </small>
    </div>


    <p>
        Fecha de ingreso de vehículo: <br>
        <input type="date" formControlName="date">
    </p>

    <div *ngIf="form.get('date')?.errors && form.get('date')?.touched">
        <small *ngIf="form.get('date')?.hasError('required')">
            Es un campo requerido
        </small>
    </div>

    <p>
        Hora de ingreso: <br>
        <input type="time" formControlName="horaIngreso">
    </p>
    
    <div *ngIf="form.get('horaIngreso')?.errors && form.get('horaIngreso')?.touched">
        <small *ngIf="form.get('horaIngreso')?.hasError('required')">
            Es un campo requerido
        </small>
    </div>
    
    <p>
        Hora de salida: <br>
        <input type="time" formControlName="horaSalida">
    </p>
    
    <div *ngIf="form.get('horaSalida')?.errors && form.get('horaSalida')?.touched">
        <small *ngIf="form.get('horaSalida')?.hasError('required')">
            Es un campo requerido
        </small>
    </div>

    <p>
        Empleado a cargo: <br>
        <select formControlName="mecaninco">
            <option value="1">Joan Olalla</option>
            <option value="2">Raymond Zambrano</option>
            <option value="3">Jhon Davila</option>
            <option value="4">Vinicio Ledesma</option>
            <option value="5">Samuel Borja</option>
            <option value="6">Jhanira Macas</option>
        </select>
    </p>

    <div *ngIf="form.get('mecaninco')?.errors && form.get('mecaninco')?.touched">
        <small *ngIf="form.get('mecaninco')?.hasError('required')">
            Es un campo requerido
        </small>
    </div>

    <p>
        Tipo de lavado: <br>
        <select formControlName="tip_lavado">
            <option value="1">Regular</option>
            <option value="2">Normal</option>
            <option value="3">Premium</option>
        </select>
    </p>

    




    <button type="submit">Guardar</button>
</form>