<div class="widget-container">
    <div class="widget green">
      <div class="icon">
        <fa-icon [icon]="faRegistered"></fa-icon>
      </div>
      <div class="value">
        <div class="top">320</div>
        <div class="bottom">Registros totales</div>
      </div>
    </div>
    <div class="widget yellow">
      <div class="icon">
        <fa-icon [icon]="faCar"></fa-icon>
      </div>
      <div class="value">
        <div class="top">295</div>
        <div class="bottom">Total autos lavados</div>
      </div>
    </div>
    <div class="widget red">
      <div class="icon">
        <fa-icon [icon]="faCalculator"></fa-icon>
      </div>
      <div class="value">
        <div class="top">4.7</div>
        <div class="bottom">Promedio calificacion</div>
      </div>
    </div>
  </div>