<form [formGroup]="form" (ngSubmit)="save($event)" class="form-container">

  <h1 class="form-title">Solicita un servicio en Car Wash</h1>

  <div class="form-field">
    <label>Nombre del cliente:</label>
    <input formControlName="nombre" type="text" class="form-control">
    <div *ngIf="form.get('nombre')?.invalid && (form.get('nombre')?.dirty || form.get('nombre')?.touched)" class="text-danger">
      El nombre y apellido son requeridos
    </div>
  </div>


  <div class="form-field">
    <label>Cédula:</label>
    <input type="text" formControlName="cedula" id="cedula">
    <div *ngIf="form.get('cedula')?.errors?.['required'] && form.get('cedula')?.touched" class="text-danger">
      La cédula es requerida
    </div>
    <div *ngIf="form.get('cedula')?.errors?.['pattern'] && form.get('cedula')?.touched" class="text-danger">
      La cédula debe tener exactamente 10 dígitos
    </div>
  </div>

  <div class="form-field">
    <label>Dirección:</label>
    <input formControlName="direccion" type="text" class="form-control">
    <div *ngIf="form.get('direccion')?.invalid && (form.get('direccion')?.dirty || form.get('direccion')?.touched)" class="text-danger">
      La dirección es requerida
    </div>
  </div>

  <div class="form-field">
    <label>Email:</label>
    <input formControlName="email" type="email" class="form-control">
    <div *ngIf="form.get('email')?.errors?.['required'] && form.get('email')?.touched" class="text-danger">
      El email es requerido
    </div>
    <div *ngIf="form.get('email')?.errors?.['pattern'] && form.get('email')?.touched" class="text-danger">
      Ingrese un email válido
    </div>
  </div>

  <div class="form-field">
    <label for="marcaVehiculo">Marca de Vehículo:</label>
    <input type="text" formControlName="marcaVehiculo" id="marcaVehiculo">
    <div *ngIf="form.get('marcaVehiculo')?.invalid && (form.get('marcaVehiculo')?.dirty || form.get('marcaVehiculo')?.touched)" class="text-danger">
      La marca del vehículo es requerida
    </div>
  </div>

  <div class="form-field">
    <label>Modelo de Vehículo:</label>
    <input formControlName="modeloVehiculo" type="text" class="form-control">
    <div *ngIf="form.get('modeloVehiculo')?.invalid && (form.get('modeloVehiculo')?.dirty || form.get('modeloVehiculo')?.touched)" class="text-danger">
      El modelo del vehículo es requerido
    </div>
  </div>


  <div class="form-field">
    <label>Fecha de ingreso de vehículo:</label>
    <input formControlName="fechaIngreso" type="date" class="form-control"placeholder="fechaIngreso Usuario">
    <div *ngIf="form.get('fechaIngreso')?.invalid && (form.get('fechaIngreso')?.dirty || form.get('fechaIngreso')?.touched)" class="text-danger">
      La fecha de ingreso es requerida
    </div>
  </div>


  <div class="form-field">
    <label>Hora de Ingreso</label>
    <input formControlName="horaIngreso" type="Time" class="form-control"placeholder="horaIngreso Usuario">
    <div *ngIf="form.get('horaIngreso')?.invalid && (form.get('horaIngreso')?.dirty || form.get('horaIngreso')?.touched)" class="text-danger">
      La hora de ingreso es requerida
    </div>
  </div>



  <div class="form-field">
    <label>Tipo de Lavado</label>
    <select formControlName="tipoLavado" class="form-select">
      <option value="Económico">Económico ($3)</option>
      <option value="Estándar">Estándar ($6.50)</option>
      <option value="Premium">Premium ($12)</option>
    </select>
    <div *ngIf="form.get('tipoLavado')?.invalid && (form.get('tipoLavado')?.dirty || form.get('tipoLavado')?.touched)" class="text-danger">
      El tipo de lavado es requerido
    </div>
  </div>

  <div class="form-floating mb-3">
    <div class="row captcha-container">
      <ngx-recaptcha2 #captchaElem siteKey="6Leuvm4pAAAAAEQsD1LqgS2HFW1Juuf4qNWiuzeZ" formControlName="recaptcha"></ngx-recaptcha2>
      <div *ngIf="form.get('recaptcha')?.invalid && (form.get('recaptcha')?.dirty || form.get('recaptcha')?.touched)" class="text-danger">
        Debes completar el captcha.
      </div>
    </div>
  </div>
  <button type="submit">Guardar</button>
</form>