
<form [formGroup]="form" (ngSubmit)="save($event)" class="form-container">

    <h1 class="form-title">CarWash "El Pelado Samuel"</h1>
  
    <div class="form-field">
      <label for="name">Nombre del cliente:</label>
      <input type="text" formControlName="name" id="name">
      <div *ngIf="form.get('name')?.errors && form.get('name')?.touched">
        <small *ngIf="form.get('name')?.hasError('required')">Es un campo requerido</small>
      </div>
    </div>
  
    <div class="form-field">
      <label for="dni">Cédula:</label>
      <input type="text" formControlName="dni" id="dni">
      <div *ngIf="form.get('dni')?.errors && form.get('dni')?.touched">
        <small *ngIf="form.get('dni')?.hasError('required')">Es un campo requerido</small>
      </div>
    </div>
  
    <div class="form-field">
      <label for="direccion">Dirección:</label>
      <input type="text" formControlName="direccion" id="direccion">
      <div *ngIf="form.get('direccion')?.errors && form.get('direccion')?.touched">
        <small *ngIf="form.get('direccion')?.hasError('required')">Es un campo requerido</small>
      </div>
    </div>
  
    <div class="form-field">
      <label for="email">Email:</label>
      <input type="email" formControlName="email" id="email">
      <div *ngIf="form.get('email')?.errors && form.get('email')?.touched">
        <small *ngIf="form.get('email')?.hasError('required')">Es un campo requerido</small>
        <small *ngIf="form.get('email')?.hasError('email')">Ingrese una dirección de correo electrónico válida</small>
      </div>
    </div>
  
    <div class="form-field">
      <label for="marca">Marca de Vehículo:</label>
      <input type="text" formControlName="marca" id="marca">
      <div *ngIf="form.get('marca')?.errors && form.get('marca')?.touched">
        <small *ngIf="form.get('marca')?.hasError('required')">Es un campo requerido</small>
      </div>
    </div>
  
    <div class="form-field">
      <label for="modelo">Modelo de Vehículo:</label>
      <input type="text" formControlName="modelo" id="modelo">
      <div *ngIf="form.get('modelo')?.errors && form.get('modelo')?.touched">
        <small *ngIf="form.get('modelo')?.hasError('required')">Es un campo requerido</small>
      </div>
    </div>
  
    <div class="form-field">
      <label for="date">Fecha de ingreso de vehículo:</label>
      <input type="date" formControlName="date" id="date">
      <div *ngIf="form.get('date')?.errors && form.get('date')?.touched">
        <small *ngIf="form.get('date')?.hasError('required')">Es un campo requerido</small>
      </div>
    </div>
  
    <div class="form-field">
      <label for="horaIngreso">Hora de ingreso:</label>
      <input type="time" formControlName="horaIngreso" id="horaIngreso">
      <div *ngIf="form.get('horaIngreso')?.errors && form.get('horaIngreso')?.touched">
        <small *ngIf="form.get('horaIngreso')?.hasError('required')">Es un campo requerido</small>
      </div>
    </div>
  
    <div class="form-field">
      <label for="empleado">Empleado a cargo:</label>
      <select formControlName="empleado" id="empleado">
        <option value="1">Joan Olalla</option>
        <option value="2">Raymond Zambrano</option>
        <option value="3">Jhon Davila</option>
        <option value="4">Vinicio Ledesma</option>
        <option value="5">Samuel Borja</option>
        <option value="6">Jhanira Macas</option>
      </select>
      <div *ngIf="form.get('empleado')?.errors && form.get('empleado')?.touched">
        <small *ngIf="form.get('empleado')?.hasError('required')">Es un campo requerido</small>
      </div>
    </div>
  
    <div class="form-field">
      <label for="tip_lavado">Tipo de lavado:</label>
      <select formControlName="tip_lavado" id="tip_lavado">
        <option value="1">Regular</option>
        <option value="2">Normal</option>
        <option value="3">Premium</option>
      </select>
      <div *ngIf="form.get('tip_lavado')?.errors && form.get('tip_lavado')?.touched">
        <small *ngIf="form.get('tip_lavado')?.hasError('required')">Es un campo requerido</small>
      </div>
    </div>
  
    <button type="submit">Guardar</button>
  
  </form>
  